# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

.idea
*.iml
out
gen
.classpath
*.eml
target
*.log
*.log.*
generatorConfig.xml
.DS_Store
*.cache
*.lock
Test*.java